<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Descr c:</strong>
  <%= @producto.descr_c %>
</p>

<p>
  <strong>Descr l:</strong>
  <%= @producto.descr_l %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>

<p>
  <strong>Image:</strong>
  <%= @producto.image %>
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
